<style>
    .project-card:hover {
    box-shadow: 0 0 15px 5px white;
}
h2:hover{
    cursor: pointer;
}
</style>


<section id="services" class="container my-5">
  <h2 class="text-center mb-4" style="text-decoration: underline;">My Services</h2>

  <div class="row g-4">

    <div class="col-lg-4 col-md-6 col-sm-12 ">
      <div class="project-card text-center h-100">
        <h6 class="text-primary fw-bold display-6">01</h6>
        <h5 class="fw-bold mb-3">FrontEnd</h5>
        <p >
          Crafting visually stunning, responsive, and user-friendly interfaces with 
          <b>HTML, CSS, and JavaScript</b>—bringing ideas to life on any device.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="project-card text-center h-100">
        <h6 class="text-success fw-bold display-6">02</h6>
        <h5 class="fw-bold mb-3">BackEnd</h5>
        <p >
          Building the engine behind the scenes—secure, fast, and scalable systems 
          using <b>Node.js, Express, and databases</b> like MongoDB or SQL.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="project-card text-center h-100">
        <h6 class="text-danger fw-bold display-6">03</h5>
        <h5 class="fw-bold mb-3">FullStack</h5>
        <p  >
          Delivering complete solutions—seamlessly blending design and functionality 
          from <b>UI to database</b>.
        </p>
      </div>
    </div>

  </div>
</section>
